<div class="container">
    <div class="row">
            <form>
                <div class="logo">
                    <span>Login</span>
                </div>
                <hr>
                <div class="form-group ">
                    <div class="form-group">
                        <label for="id">Enter e-mail :</label>
                        <input type="email" class="form-control" id="id" name="email" email>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="form-group">
                        <label for="password">Enter password :</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary logo">
                        Login
                    </button>
                </div>
                <div>
                    <a  routerLink="/signup">
                        Dont you have account?
                    </a>
                </div>
            </form>
        
    </div>
</div>
