.container{
    margin-top:8%;
    border: 1px solid gray;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52vh;
    max-height: 54vh;
    // display: flex;
    // margin: auto;
    border-radius: 2vh;
    
}
input{
    background-color:rgb(236, 233, 233);
    border: 1px solid rgba(0, 0, 0, 0.452);
}
.logo{
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
}
.logo span{
    font-size: 5vh;
    font-weight: 500;
}
.form-group{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.form-group input{
    display: flex;
    position: relative;
    margin: 12px 10px;
    
}
.btn{
    margin-top: 2vh;
}
label{
    width: 35vh;
    font-size: medium;
}
button{
    margin-top: 1.5vh;
}