.container{
    margin-top:4%;
    border: 1px solid gray;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58vh;
    max-height: 60vh;
    // display: flex;
    // margin: auto;
    border-radius: 2vh;
    
}
.logo{
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
}
.logo1{
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
}
.logo1 span{
    font-size: 5vh;
    font-weight: 500;
}

.form-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2vh;
}
.form-group input{
    display: flex;
    position: relative;
    margin: 10px 10px;

}
label{
    width: 35vh;
    font-size: medium;
}
button{
    margin-top: 1vh;
}