.container{
    margin-top:4%;
    border: 1px solid gray;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 62vh;
    max-height: 65vh;
    // display: flex;
    // margin: auto;
    border-radius: 2vh;
    
}
input{
    background-color:rgb(236, 233, 233);
    border: 1px solid rgba(0, 0, 0, 0.452);
}
.logo{
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
}
.logo1{
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    // background-color: aliceblue;
}
.help-block{
    color:red;
}
.logo1 span{
    font-size: 5vh;
    font-weight: 500;
}

.form-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2vh;
}
.form-group input{
    display: flex;
    position: relative;
    margin: 10px 10px;

}
label{
    width: 35vh;
    font-size: medium;
}
button{
    margin-top: 1vh;
}